body{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana;
}

header{
  font-weight: bold;
}
.logo{
  float: left;
  margin-right: 10px;
}
.logo > img{
  height: 60px;
  width: 60px;
}
[main]{
  height: 80px;
}
.search{
  float: right;
  padding: 10px;
  margin: 10px 10px;
  width: 200px;
}


#welcometext{
  float: left;
  width: 70%;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin: 20px 0 20px 0; */
}

#welcometext > header{
  color: #603813;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
}
.events{
  float: right;
  width: 30%;
  margin:20px 0 20px 0;
}

.events> header{
  margin: 0 0 20px 10px;
  color: #603813;
  font-size: 15px;
  font-weight: bold;
}
.events >ul{
  list-style:upper-roman;
}
.events >ul>li{
  margin-bottom: 3px;
}
nav{
  background-color: black;
  color: white;
}
nav >ul{

}
nav >ul > li{
  text-decoration: none;
  display: inline-block;
  background-color: #678;
  padding: 15px;
}
nav >ul >li>a{
  text-decoration: none;
  color: white;
}
nav >ul >li:hover{
  background-color: #587;
  color: #245;
}


.report{
  display:flex;
  flex-direction: row;
}
.tras{
  animation-duration: 10s;
  animation-delay: 5s;
  animation: homeAnimation 20s;
}
@keyframes homeAnimation {
  0% {background: green;left: 0px;top:0px;}
  25%{background: brown;left: 200px;top:0px;}
  50%{background: yellow;left: 200px;top:200px;}
  75%{background: green;left: 0px;top:200px;}
  100%{background: green;left: 0px;top:0px}
}

@font-face {
  font-family: robotoFont;
  src: url('roboto/Roboto-Thin.ttf');
}
[headersname]{
  font-size: 40px;
  color: #603813;
  padding: 15px;
  font-weight: bold;
  font-family: robotoFont;
}
